*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationToast-123456{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 30px;
    margin: 50px auto 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-300%);
    transition: transform 0.3s ease-in-out;
    &.active{
        transform: translateY(0);
    }
}

#sendMsg{
    border: none;
    background: #308EEE;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

#chatBox{
    height: fit-content;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    min-height: 500px;
    display: none;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .chatArea{
        background: #eeeeee;
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 5px 20px;
        .user{
            width: 80%;
            margin: 10px 0 10px auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .chatContent{
                background: #308EEE;
                padding: 10px;
                color: white;
                border-radius: 10px;
                margin: 5px 0;
                width: max-content;
                max-width: 100%;
            }
        }
        .support{
            width: 80%;
            margin: 10px auto 10px 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .chatContent{
                background: #e2e2e2;
                padding: 10px;
                color: #080808;
                border-radius: 10px;
                margin: 5px 0;
                width: 100%;
                width: max-content;
                max-width: 100%;
            }
        }
    }
    .chatSettings{
        background: #fcfcfc;
        border-top: 1px #eeeeee solid;
        border-bottom: 1px #eeeeee solid;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    .chatInputArea{
        background: #fcfcfc;
        height: 150px;
        width: 100%;
        #chatInput{
            width: 100%;
            height: 100%;
            border: none;
            padding: 5px;
            word-wrap: break-word;
            resize: none;
            &:focus{
                border: none;
                outline: 0;
            }
        }
    }
}